.App {
  text-align: center;
}

.App .item-todo {
  padding: 15px;
  margin: 0 auto;
  width: 300px;
  text-align: left;
  margin-top: 10px;
  background-color: indigo;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.App .item-todo .item-text {
  display: inline-block;
}

.strike {
  text-decoration: line-through;
}

.App .item-todo .item-delete {
  display: inline-block;
  float: right;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  bottom: 5px;
  left: -4px;
}

.App button {
  cursor: pointer;
  padding: 17px 8px;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: indigo;
  text-transform: capitalize;
  color: white;
}

.App input {
  padding: 15px 30px 15px 15px;
  border-radius: 5px 0 0 5px;
  outline: none;
  background: transparent;
  border: 2px solid #460c0c;
}
